<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="expiration">
      <ion-icon name="calendar-outline"></ion-icon>
      Expiración
    </ion-tab-button>
    <ion-tab-button tab="consumption">
      <ion-icon name="stats-chart-outline"></ion-icon>
      Consumo
    </ion-tab-button>
    <ion-tab-button tab="productivity">
      <ion-icon name="trending-up-outline"></ion-icon>
      Productividad
    </ion-tab-button>
      <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      Ajustes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>