<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
    <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ion-buttons> -->
      <ion-label>
        <p>Nibly</p>
        <small>Gestión inteligente</small>
      </ion-label>
      
      <ion-avatar slot="end">
        <img alt="Profile photo" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-scrollbar ion-padding-horizontal" color="light">
  <ion-card class="firstCard ion-no-margin">
    <ion-card-header>
      <ion-card-title>Panel de frescura</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Gestión predictiva de caducidades.
    </ion-card-content>
  </ion-card>

  <!--  <ion-button class="ion-margin-top" size="large" >
    <ion-icon slot="start" name="camera-outline"></ion-icon>
    Escanear productos
  </ion-button> -->

  <ion-list lines="none">
    <ion-list-header>
      <ion-icon name="alert-circle-outline"></ion-icon> 
      <ion-label>Alertas de caducidad</ion-label>
    </ion-list-header>


    <ion-item *ngFor="let product of products" lines="none" class="ion-margin-horizontal ion-padding-bottom" color="light">
        <div slot="start" class="tags-container">
            <span class="tag tag-lote">{{product.Product_ID}}</span>
            <span class="tag tag-urgente">Product_ID</span>
        </div>
        <ion-label class="main-label"> 
          <div class="header-line">
              <h2>{{product.Product_Name}}</h2> 
              @if (product.Expiry_Date > fechaActual) {
                <div class="notification-dot" style="background-color: green;"></div>
              }
              @else {
                <div class="notification-dot" style="background-color: red;"></div>
              }
          </div>
          
          <p class="fecha-info">
              <ion-icon name="calendar-outline"></ion-icon>
              {{product.Expiry_Date}}             </p>
        </ion-label>
        
      </ion-item>


    </ion-list>

  <div class="filterContainer">
      <ion-label class="filter-title">Filtros</ion-label> 
      <div class="card-row"> 
        
        <ion-card class="stat-card stat-healthy ion-no-margin">
          <ion-card-content class="ion-text-start health">
            <p class="stat-number stat-number-dark">{{count.normal}}</p>
            <small>Stock saludable</small>
          </ion-card-content>
        </ion-card>
        
        <ion-card class="stat-card stat-alert ion-no-margin">
          <ion-card-content class="ion-text-start expired">
            <p class="stat-number stat-number-dark">{{count.danger}}</p>
            <small>Caducan en 7 días</small>
          </ion-card-content>
        </ion-card>

      </div>
  </div>
</ion-content>