<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
    <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ion-buttons> -->
      <ion-label>
        <p>Nibly</p>
        <small>Gestión inteligente</small>
      </ion-label>
      
      <ion-avatar slot="end">
        <img alt="Profile photo" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-scrollbar ion-padding-horizontal" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="firstCard ion-no-margin">
    <ion-card-header>
      <ion-card-title>Productividad</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Benchmark de ensamblaje y eficiencia
    </ion-card-content>
  </ion-card>

  <div class="filterContainer">
      <ion-label class="filter-title">Filtros</ion-label> 
      <div class="card-row"> 
        <ion-card class="stat-card ion-no-margin">
          <ion-card-content class="ion-text-center card-content-centered"> 
            <ion-icon name="checkmark-circle-outline" class="checkmark"></ion-icon>
            <small>Iniciar tarea</small>
          </ion-card-content>
        </ion-card>
        
        <ion-card class="stat-card ion-no-margin">
          <ion-card-content class="ion-text-center">
            <ion-icon name="time-outline" class="time"></ion-icon>
            <small>Detener tarea</small>
          </ion-card-content>
        </ion-card>
      </div>
  </div>

  <ion-list lines="none">
    <ion-list-header>
      <ion-icon name="cube-outline" class="cube"></ion-icon> 
      <ion-label>Tareas de ensamblaje</ion-label>
    </ion-list-header>

    @for (dato of data; track dato.id) {
      <ion-item lines="none" class="info-card-item ion-margin-horizontal ion-padding-bottom" color="light"> 
        <ion-label>
            <div class="header-line">
                <h2 class="main-title">{{ dato.Drawer_ID }}</h2>
                <div class="status-badge completado">Completado</div>
            </div>

            <div class="stats-row">
                <div class="stat-col">
                    <small>Items</small>
                    <p>{{ dato.Total_Items }}</p>
                </div>
                <div class="stat-col">
                    <small>Únicos</small>
                    <p>{{ dato.Unique_Item_Types }}</p>
                </div>
                <div class="stat-col">
                    <small>Tiempo</small>
                    <p>8 min</p>
                </div>
            </div>
        </ion-label> 
    </ion-item>
    }
  </ion-list>

  <ion-card class="ia-prediction">
    <ion-card-content>
      <div class="header-ia">
        <ion-icon name="trending-up-outline"></ion-icon> 
        <h3 class="title-ia">Análisis de rendimiento</h3>
      </div>
            
      <div class="recommendations">
        
        <div class="reco-item">
          <span class="label">Tiempo estimado (IA):</span>
          <span class="value">10.2 min</span>
        </div>
        
        <div class="reco-item">
          <span class="label">Tiempo Real:</span>
          <span class="value">9.8 Min</span>
        </div>

        <hr>
        <div class="reco-item">
          <span class="label">Eficiencia:</span>
          <span class="value">104%</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>