ion-header {
  --background: white !important;
  margin-bottom: 0.5rem;
  ion-toolbar.wrapper {
    --background: white !important;
    ion-item {
      ion-label {
        font-size: 1rem;
        color: var(--text-primary);
        ion-icon {
          margin-right: 0.5rem;
          color: var(--ion-color-primary);
          font-size: 1rem;
          --ionicon-stroke-width: 3rem;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        p {
          margin-top: 0.5rem;
          font-size: 1.8rem;
          font-weight: 700;
          color: var(--text-primary);
        }
        small {
          font-size: 1rem;
        }
      }
      ion-avatar {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ion-avatar img {
        border: 2px solid var(--ion-color-primary);
      }
    }

    ion-searchbar.custom-searchbar {
      --background: var(--ion-color-light);
    }

    ion-searchbar.ios.custom-searchbar {
      --cancel-button-color: var(--secondary-text);
    }
  }
}

ion-content {
  .firstCard {
    box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.15);
    margin-top: 1.25rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--ion-color-primary);
    color: white;

    ion-card-header {
      color: white;
      ion-card-title {
        color: white;
        font-weight: 800;
      }
    }
  }
}

ion-Button {
  margin-top: 1rem;
  --border-radius: 0.75rem;
  color: black;
  font-weight: 500;
  --background: white;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.15);
  font-size: 1rem;
  text-transform: capitalize;
  width: 100%;

  ion-icon {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    color: var(--ion-color-primary);
    text-transform: none;
    vertical-align: middle;
    --ionicon-stroke-width: 3.25rem;
  }
}

ion-list {
  box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.15);
  margin-top: 1rem !important;
  border-radius: 1rem;
  ion-list-header {
    ion-label {
      font-size: 1rem;
      font-weight: 600;
    }

    ion-icon {
      margin-right: 0.35rem;
      font-size: 1.55rem;
      vertical-align: middle;
      color: var(--success-color);
      --ionicon-stroke-width: 2.75rem;
    }
  }

  ion-item {
    --border-radius: 0.5rem;
    --padding-top: 16px;
    --padding-bottom: 16px;

    .info-card-item {
      --inner-padding-end: 0;
    }

    .header-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }

    .main-title {
      font-size: 1.15rem;
      font-weight: 700;
      margin: 0;
      color: #333;
    }

    .status-badge {
      padding: 3px 8px;
      border-radius: 6px;
      font-size: 0.8rem;
      font-weight: 600;
      flex-shrink: 0;
    }

    .completado {
      background-color: #e7fce7;
      color: var(--success-color);
    }

    .stats-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .stat-col {
      flex-grow: 1;
      flex-basis: 0;
    }

    .stat-col small {
      display: block;
      font-size: 0.9rem;
      color: var(--secondary-text);
      margin-bottom: 2px;
      font-weight: 500;
    }

    .stat-col p {
      font-size: 1.1rem;
      font-weight: 700;
      margin: 0;
      color: #333;
    }

    .stat-col:last-child p {
      font-weight: 800;
    }
  }
}

.filterContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  .filter-title {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .card-row {
    display: flex;
    gap: 10px;
  }

  .stat-card {
    margin-top: 1rem;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;

    ion-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      ion-icon {
        font-size: 2.2rem;
        margin-bottom: 4px;
      }

      .checkmark {
        color: var(--success-color);
      }

      .time {
        color: var(--secondary-warning-color);
      }

      p.stat-number-dark {
        font-weight: 700;
        font-size: 1.75rem;
      }

      small {
        font-weight: 600;
        font-size: 0.8rem;
      }
    }
  }
}

.ia-prediction {
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(108, 52, 131, 0.2);
  background-color: #fff;

  ion-card-content {
    padding: 1.5rem;
  }
}

.header-ia {
  display: flex;
  align-items: center;
  color: var(--ion-color-primary);
  margin-bottom: 5px;
}

.header-ia ion-icon {
  font-size: 1.5rem;
  margin-right: 8px;
  --ionicon-stroke-width: 32px;
}

.title-ia {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.subtitle-ia {
  color: black;
  font-size: 0.95rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.recommendations {
  padding-top: 5px;
}

.reco-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reco-item .label {
  font-size: 1rem;
  color: #333;
}

.reco-item .value {
  font-size: 1rem;
  font-weight: 700;
  color: var(--ion-color-primary);
}

.recommendations hr {
  border: none;
  height: 1px;      
  background-color: #d3d3d3;
  margin: 10px 0; 
}